body {
    margin: 0;
    padding: 0;
}

.searchbar {
    background-image: url(img/bg.png);
    background-size: cover;
    height: 600px;
}

.searchbar h2 {
    color: white;
}

.searchbar .form-inline {
    /* border: solid red; */
    width: 50%;
}

.searchbar .form-control {
    /* border: solid black; */
    width: 90%;
}

.searchbar img {
    border: solid black;
    height: 500px;
    width: 100%;
    float: top;
}

.searchbar .container {
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding-top: 250px;
}

.city {
    /* border: solid red; */
    height: 400px;
}

.city h2{
    /* border: solid black; */
    margin-top: 70px;
    font-size: 2.5rem;
}
.city .container .row{
    /* border: solid black; */
    padding-top: 10%;
}
.city-icon {
    /* border: solid black; */
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.city-icon img {
    max-width: 60%;
    max-height: 60%;
}

.city-name {
    text-align: center;
    font-weight: bold;
}